$hawk-black: #1B1B1B;
$hawk-grey: #3C3C3C;
$hawk-red: #E92636;

$regular: 400;
$semibold: 600;
$extrabold: 800;

@import 'routes/index';
@import 'routes/demo';
@import 'components/score-box';

body {
  background: $hawk-black;
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.teko {
  font-family: 'Teko', sans-serif;
  font-weight: $semibold;
}

a {
  text-decoration: none;
  color: white;
}

.hawk-button {
  color: $hawk-black;
  background: white;
  padding: 15px;
  text-transform: uppercase;
  font-weight: $extrabold;
  border-radius: 3px;
}

.hawk-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
