$hawk-black: #1B1B1B;
$hawk-red: #E92636;

$regular: 400;
$semibold: 600;
$bold: 700;

@import 'routes/index';

body {
  background: $hawk-black;
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.teko {
  font-family: 'Teko', sans-serif;
  font-weight: $semibold;
}

a {
  text-decoration: none;
  color: white;
}
