.splash-section {
  height: 100vh;
  background: $hawk-black url('/assets/splash.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;

  .splash-container {
    display: flex;
    flex-direction: column;

    .hero-content {
      margin: auto;
      text-align: center;

      .pitch {
        font-weight: $extrabold;
        font-size: 4em;
        margin: auto;
        text-transform: uppercase;
      }

      .sub-pitch {
        width: 50%;
        margin: 10px auto;
        font-weight: $regular;
        font-size: 1.25em;
      }

      #mc_embed_signup .button {
        font-family: 'Open Sans', sans-serif;
        font-weight: $extrabold;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .pitch {
    font-size: 2.5em !important;
  }

  .sub-pitch {
    width: 75% !important;
  }
}

@media only screen and (max-width: 768px) {
  #mc_embed_signup {
    width: 75%;
    margin: auto;
  }
}
