<p class='description'>All information on this page is pulled from <a href='https://ropsten.etherscan.io/address/0x0f0d545c02ffd265768f247234c5fd41378df598' target='_blank'>a smart contract</a> on the Ropsten Test Network.</p>
<div class='score-box-container hawk-container'>
  {{#each model as |game|}}
    {{score-box game=game}}
  {{/each}}
</div>
