<div class='splash-section'>
  <div class='splash-container hawk-container'>
    <div class='hero-content'>
      <h1 class='pitch'>Unstoppable<br>Sports Apps</h1>
      <h2 class='sub-pitch'>Blockhawk powers the next generation of fantasy and betting platforms by providing real-time scores and stats on the Ethereum blockchain.</h2>
      <div id="mc_embed_signup">
        <form action="//blockhawk.us16.list-manage.com/subscribe/post?u=758150b9df15c977acfc637db&amp;id=90030fad16" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_758150b9df15c977acfc637db_90030fad16" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
