<div class='splash-section'>
  <div class='splash-container'>
    <div class='top-bar'>
      {{link-to 'BLOCKHAWK' 'index' class='logo teko'}}
    </div>
    <div class='hero-content'>
      <h1 class='pitch'>Real-time sports data on the Ethereum blockchain.</h1>
    </div>
  </div>
</div>
