<div class='splash-section'>
  <div class='splash-container'>
    <img class='logo' src='/assets/logo.png'>
    <h1 class='title teko'>BLOCKHAWK</h1>
    <h2 class='subtitle'>Real-time sports data for the Ethereum blockchain</h2>
  </div>
</div>
